# Variabel environment untuk VPS Control Bot
# Copy file ini menjadi .env dan isi nilainya

# Bot Token dari BotFather
BOT_TOKEN=ur token

# Path folder aplikasi untuk command /deploy
DEPLOY_PATH=/var/www/html/app
